@media screen and (max-width: 1120px) {
  #img2, #img1 {
    display: none;
  }
  nav {
    grid-template-columns: 100%;
    grid-template-rows: 0;
    text-align: center;
  }
  #products ul {
    top: 50px;
}
}

@media screen and (max-width: 930px) {
  nav a {
    font-size: 14px;
  }
  #logo1 img {
    display: none;
  }
  nav {
    text-align: center;
  }
  #products a {
    display: inline-block;
    font-size: 32px;
}
}

@media screen and (max-width: 800px) {
  nav a {
    font-size: 12px;
  }
}

@media screen and (max-width: 730px) {
  body {
    min-width: 250px;
  }
  .nav-wrapper {
    display: block;
    position: sticky;
    top: 0px;
    z-index: 20;
    background-color: white;
  }
  #burgernav {
    display: none;
  }
  .banner1 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .banner1 h3 {
    font-size: 12px;
  }
  .banner2 {
    display: none;
  }
  #mainnav {
    display: none;
  }
  h1 {
    font-size: 42px;
    letter-spacing: 2px;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
  }
  #proven h2 {
    margin: 0px;
    padding-top: 70px;
  }
  #proven ul {
    padding-top: 20px;
    margin: 0;
  }
  h3 {
    font-size: 14px
  }
  .productwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    grid-gap: 10px;
    background-color: #5BC8AF;
    transition: all .7s ease-in-out;
    max-height: 100%;
    margin: 0 auto;
    max-width: 1260px;
    background-color: white;
  }
  #cbdlineresearch {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    border-top: solid;
    border-bottom: none;
    grid-gap: 20px;
    padding: 0px 20px 50px 20px;
    transition: all .4s ease-in-out;
    width: 0 100%;
    height: 100%;
    */ border-top: 0;
  }
  header {
    padding: 100px 50px;
    background-image: url('../img/pexels-photo-531765.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
  }
  #products a {
    display: inline-block;
    font-size: 18px;
    padding: 0 4px;
    transition: all .3s ease-in-out;
  }
  #logo1 img {
    display: none;
  }
  #img2, #img1 {
    display: none;
  }
  #evolve  {
    border-right: none;
  }

  #proven {
    border-left: none;
  }
  #products ul {
    text-align: center;
    position: sticky;
    top: 40px;
}
}

@media screen and (max-width: 500px) {
#products a {
  display: none;

}

header {
padding: 5px;
}
}
