/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

/* Fix for responsive images */

img {
  max-width: 100%;
}

/********** Main Body styles **********/

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #48a500;
}

/********** Main anchor styles **********/

a {
  text-decoration: none;
  color: #48a500;
  font-size: 18px;
}

/********** Heading standards **********/

header {
  padding: 100px;
  background-image: url('../img/pexels-photo-531765.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

h1, h2, h4 {
  font-weight: 600;
  color: #48a500;
}

header h1 {
  color: white;
}

h1 {
  font-size: 100px;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  font-size: 42px;
  letter-spacing: 2px;
}

/********** Banner1 **********/

.banner1 {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 35px;
  background-color: #48a500;
  align-items: center;
  padding: 0px 10px;
  transition: all .4s ease-in-out;
}

.banner1 h3 {
  text-align: left;
  font-size: 16px;
  margin: 0;
  padding: 2px;
  color: white;
  transition: all .3s ease-in-out;
}

#b1rightcontent {
  text-align: right;
}

.banner1 img {
  max-height: 100%;
}

.banner1 h3:hover {
  transform: scale(1.02, 1.02);
  color: #ff0dff;
}

/********** Banner2 **********/

.banner2 {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px;
  background-color: #9cff00;
  align-items: flex-end;
  padding: 0px 10px;
  transition: all .4s ease-in-out;
}

#b2rightcontent {
  text-align: right;
}

.banner2 img {
  max-height: 75%;
  padding-bottom: 5px;
}

/********** nav **********/

.nav-wrapper {
  display: none;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
}

#logo1 img:hover {
  transform: rotateY(360deg);
}

nav {
  position: sticky;
  top: 0;
  z-index: 20;
  display: grid;
  text-align: right;
  grid-template-columns: 10% 90%;
  grid-template-rows: 90px;
  background-color: white;
  align-items: flex-end;
  transition: all .4s ease-in-out;
  min-height: 90px;
  /*margin: 0;*/
  /*padding: -5px 10px 200px 10px;*/
}

nav a {
  display: inline-block;
  font-size: 18px;
  padding: 0 15px;
  transition: all .3s ease-in-out;
}

#logo1 img {
  max-height: 90%;
  transition: all .5s ease-in-out;
}

nav a:hover {
  transform: scale(1.05, 1.05);
  color: #ff0dff;
}

#landingpage {
  width: auto;
}

#products {
  background-color: white;
  margin: -5px 0 0 0;
  padding: 20px;
  transition: all .4s ease-in-out;
  /*position: sticky;
  top: 0;*/
}

#products h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #48a500;
}

.productwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-gap: 20px;
  background-color: #5BC8AF;
  transition: all .7s ease-in-out;
  max-height: 100%;
  margin: 0 auto;
  max-width: 1260px;
  background-color: white;
}

.productwrapper img {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.productwrapper img:hover {
  opacity: 0.5;
  border-width: 2px;
  border-color: inherit;
  /*transform:rotateX(360deg);*/
}

section h1 {
  padding-bottom: 20px;
}

.productwrapper button {
  padding: 0;
  margin: 0 20px;
  border: 0;
  background-color: white;
  padding: 15px 0;
  transition: all .3s ease-in-out;
  border-top: 0;
}

.productwrapper button:hover {
  transform: scale(1.05, 1.05);
}

#products a:hover {
  transform: scale(1.05, 1.05);
  color: #ff0dff;
}

#products ul {
  text-align: center;
  position: sticky;
  top: 90px;
  padding-bottom: 10px;
  z-index: 19;
  background-color: white;
}

#products a {
  display: inline-block;
  font-size: 42px;
  padding: 0 4px;
  transition: all .3s ease-in-out;
}

button {
  /*align-self:  ;*/
  text-align: justify;
}

#cbdlineresearch {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr;
  border-top: solid;
  border-top-width: 2px;
  padding: 0px 20px;
  grid-gap: 0px;
  transition: all .7s ease-in-out;
  max-height: 100%;
  margin: 0 auto;
  max-width: 1260px;
  background-color: white;
}

#cbdlineresearch p {
  padding: 0 20px;
  text-align: justify;
  font-size: 18px;
}

#img1, #img2 {
  max-width: 100%;
  padding: 0 20px;
}

#img2 {
  padding-top: 20px;
}

#evolve h2 {
  padding: 0 40px;
  font-size: 32px;
  margin: 10px 0;
}

#proven h2 {
  font-size: 32px;
  margin: 20px 0;
  letter-spacing: 2px;
}

#proven ul {
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  list-style-type: none;
  padding: 0 20px;
}

#evolve {
  border-right: solid;
  border-right-width: 1px;
}

#proven {
  border-left: solid;
  border-left-width: 1px;
}

#check1 {
  text-align: right;
  margin: 0 auto;
  padding: 45px 80px 20px 0;
  transform: scale(1.5);
}

#centerpic {
  margin: 20px 0;
  padding: 90px 10px;
  background-image: url('../img/waterfall.jpg');
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: white;
  font-size: 22px;
  text-align: center;
  height: auto;
}

#centerpic h3 {
  max-width: 1060px;
  display: inline-block;
}

#howfast {
  display: grid;
  text-align: justify;
  grid-template-columns: 2fr 1fr;
  border-bottom: solid;
  border-bottom-width: 2px;
  padding: 10px 10px 0 10px;
  grid-gap: 0px;
  transition: all .7s ease-in-out;
  max-height: 100%;
  margin: 0 auto;
  max-width: 1260px;
  background-color: white;
}

#howitworks, #cbdfast, #aboutus, #howfast {
  padding: 0 20px;
  text-align: justify;
  font-size: 18px;
}

#aboutus p {
  padding: 0 20px;
  text-align: justify;
  font-size: 18px;
}

#aboutus {
  align-items: center;
  margin: 0 auto;
  max-width: 1260px;
}

#cbdworks h2 {
  padding: 0 40px;
  font-size: 32px;
  margin: 10px 0;
}

#cbdfast h2 {
  font-size: 32px;
  margin: 20px 0;
  letter-spacing: 2px;
}

#cbdworks {
  border-right: solid;
  border-right-width: 1px;
}

#cbdfast {
  border-left: solid;
  border-left-width: 1px;
}

#check2 {
  text-align: right;
  margin: 0 auto;
  padding: 45px 215px 20px 0;
  transform: scale(1.5);
}

#aboutuspic {
  margin: 20px 0;
  padding: 150px 10px;
  background-image: url('../img/waterfall.jpg');
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: white;
  font-size: 22px;
  text-align: center;
  height: auto;
}

/*++++++++++++++++++++++++++++++++*/

#benefits {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr;
  border-top: solid;
  border-top-width: 2px;
  border-bottom: solid;
  border-bottom-width: 2px;
  padding: 0 20px;
  grid-gap: 0px;
  transition: all .7s ease-in-out;
  max-height: 100%;
  margin: 0 auto;
  max-width: 1260px;
  background-color: white;
}

#benefits p {
  padding: 0 20px;
  text-align: justify;
  font-size: 18px;
}

#img5, #img6 {
  max-width: 100%;
  padding: 0 20px;
}

#img6 {
  padding-top: 20px;
}

#cbdbenefits h2 {
  padding: 0 40px;
  font-size: 32px;
  margin: 10px 0;
}

#cbdsideeffects h2 {
  font-size: 32px;
  margin: 20px 0;
  letter-spacing: 2px;
}

#cbdbenefits ul {
  text-align: center;
  font-size: 22px;
  line-height: 50px;
  list-style-type: none;
  padding: 0 20px;
}

#cbdbenefits {
  border-right: solid;
  border-right-width: 1px;
}

#cbdsideeffects {
  border-left: solid;
  border-left-width: 1px;
}

#check3 {
  text-align: right;
  margin: 0 auto;
  padding: 440px 80px 100px 0;
  transform: scale(1.5);
}

#prefooterpic {
  margin: 20px 0 0 0;
  padding: 150px 10px;
  background-image: url('../img/waterfall.jpg');
  background-size: cover;
  overflow: hidden;
  background-position: center;
  color: white;
  font-size: 22px;
  text-align: center;
  height: auto;
}

footer {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  grid-gap: 0px;
  transition: all .7s ease-in-out;
  max-height: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  align-items: flex-end;
}

footer div {
  padding: 20px;
}

.rotateproduct {
  transition: .2s linear;
  transform: rotateY(360deg);
  }

  .rotateburger {
    transition: .2s linear;
    transform: rotate(90deg);
    }

#burgernav {
  display: none;
}

#burgernavon {
  display: block;
}

@media screen and (max-width: 1120px) {
  #centerpic, #prefooterpic, #img2, #img1, #img5, #img6 {
    display: none;
  }
  #check1, #check3 {
    display: none;
  }
  #check2 {
    text-align: right;
    margin: 0 auto;
    padding: 45px 170px 20px 0;
    transform: scale(1.5);
  }
  footer {
    margin-top: 20px;
  }
  nav {
    grid-template-columns: 100%;
    grid-template-rows: 0;
    text-align: center;
  }
  #products ul {
    top: 86px;
  }
}

@media screen and (max-width: 935px) {
  nav a {
    font-size: 14px;
  }
  #logo1 img {
    display: none;
  }
  nav {
    text-align: center;
  }
  #products a {
    display: inline-block;
    font-size: 32px;
  }
  #evolve h2 {
    padding: 0 40px;
    font-size: 22px;
    margin: 5px;
  }
  #proven h2 {
    font-size: 22px;
    margin: 5px;
  }
  #cbdworks h2, #cbdfast h2, #aboutus h2, #cbdbenefits h2, #cbdsideeffects h2 {
    font-size: 22px;
  }
  #cbdlineresearch p, #cbdworks p, #cbdfast p, #evolve p, #aboutus p, #cbdsideeffects p {
    padding: 0 10px;
    text-align: justify;
    font-size: 16px;
  }
  #cbdbenefits li {
    font-size: 16px;
  }
  footer {
    font-size: 12px;
  }
  footer div p {
    font-size: 10px;
  }
  #proven ul {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    list-style-type: none;
  }
}

@media screen and (max-width: 820px) {
  nav a {
    font-size: 14px;
  }


  #aboutuspic {
    display: none;
  }
  #check2 {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  body {
    min-width: 250px;
  }
  #centerpic {
    padding: 10px;
  }
  nav {
    display: none;
  }
  .nav-wrapper {
    display: block;
    /*padding: 10px;*/
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    font-size: 16px;
    margin: 0;
    padding: 10px 10px;
  }
  .fa {
    margin: 10px 0;
  }
  #burgernav {
    display: flex;
    position: sticky;
    top: 80px;
    /*opacity: 0;*/
    background-color: #48a500;
    margin-right: 70%;
    /*opacity: .8;*/
  }

  #burgernav ul {
    text-align: left;
    /*padding-left: 10px;*/
    list-style-type: none;

  }

  #burgernav a {
  padding-left: 10px;
  margin-top: 0;
  color: white;

}

  .banner1 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .banner1 h3 {
    font-size: 12px;
  }
  .banner2 {
    display: none;
  }
  #mainnav {
    display: none;
  }
  h1 {
    font-size: 42px;
    letter-spacing: 2px;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
  }
  #proven h2 {
    margin: 0px;
    padding-top: 10px;
  }
  #proven ul {
    padding: 20px;
    margin: 0;
  }
  h3 {
    font-size: 14px
  }
  .productwrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    grid-gap: 10px;

    transition: all .7s ease-in-out;
    max-height: 100%;
    margin: 0 auto;
    max-width: 1260px;

  }
  #cbdlineresearch {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    grid-template-rows: 220px;
    border-top: solid;
    border-bottom: none;
    grid-gap: 20px;
    padding: 0px 20px 20px 20px;
    transition: all .4s ease-in-out;
    /*width: 0 100%;*/
    height: 100%;
    border-top: 0;
  }
  header {
    padding: 100px 50px;
    background-image: url('../img/pexels-photo-531765.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
  }
  #products a {
    display: inline-block;
    font-size: 18px;
    padding: 0 4px;
    transition: all .3s ease-in-out;
  }
  #products {
    padding-bottom: 5px;
  }
  #logo1 img {
    display: none;
  }
  #img2, #img1 {
    display: none;
  }
  #evolve {
    border-right: none;
  }
  #proven {
    border-left: none;
  }
  #products ul {
    text-align: center;
    position: sticky;
    top: 40px;
  }
  #benefits {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    border: none;
    border-top-width: 2px;
    padding: 0px 10px 10px 10px;
    grid-gap: 0px;
    transition: all .7s ease-in-out;
    max-height: 100%;
    margin: 0 auto;
    max-width: 1260px;
    background-color: white;
  }
  #cbdbenefits {
    border-right: none;
    border-right-width: 1px;
  }
  #cbdsideeffects {
    border-left: none;
    border-left-width: 1px;
  }
  #howfast {
    display: grid;
    text-align: justify;
    grid-template-columns: 1fr;
    border-bottom: none;
    border-bottom-width: 2px;
    padding: 10px 10px 0 10px;
    grid-gap: 0px;
    transition: all .7s ease-in-out;
    max-height: 100%;
    margin: 0 auto;
    max-width: 1260px;
    background-color: white;
  }
  #cbdworks {
    border-right: none;
    border-right-width: 1px;
  }
  #cbdfast {
    border-left: none;
    border-left-width: 1px;
  }
  footer {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    padding: 10px 10px 0 10px;
    grid-gap: 0px;
    transition: all .7s ease-in-out;
    max-height: 100%;
    margin: 0 auto;
    background-color: black;
    color: white;
    align-items: flex-end;
  }
  footer div {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  #products a {
    font-size: 16px;
    padding: 0;
}

#products ul {
  padding:0;
}
  #cbdlineresearch {
    grid-template-rows: 360px;
  }
  header {
    padding: 2px;
  }
  body {
    min-width: 360px;
    /*padding: 10px;*/
    text-align: justify;
  }
}
