@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i|Spectral:400,400i');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i');
body {
  /*text-align: justify;*/
  background-color: black;
  max-width: 960px;
  margin: 0 auto;
}

main {
  background-color: white;
}

header {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  background-color: #FCEE21;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0px
}

nav {
  background-color: #FCEE21;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-: 20px;
}

a:hover {
  font-size: 150%;
  color: blue;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 5px;
  color: #333333;
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-family: font-family: 'Spectral', serif;
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

h4 {
  font-family: font-family: 'Spectral', serif;
  font-size: 20px;
  font-weight: normal;
}

p {
  font-family: font-family: 'Spectral', serif;
  font-size: 20px;
  padding: 0 20px 0 20px;
}

hr {
  margin: 30px 20px 0 20px;
  background-color: white;
  background: white;
  color: black;
  padding: 0 20px 0 20px;
}

img {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

article {
  background-color: white;
  padding: 20px;
}

footer {
  background-color: #FCEE21;
  padding: 5px 0 5px 20px;
}
