
/*Add a link to Google Fonts at the top! THis should be the first line of your stylesheet.*/

/* ----------------------------------------
Base Styles
------------------------------------------- */
/* Note: Makes sure that padding and the border are included in the width for each element. */
/* Don't add anything else under the * selector! */
* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/* ----------------------------------------
Typography
------------------------------------------- */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  /*color: #44545E;*/
	color:red;
  text-align: center;
  margin: 0px auto;
  max-width: 960px;
  font-weight: 600;
}


/* ----------------------------------------
Lists
------------------------------------------- */
nav a {
  /*position: fixed;*/
  /*color: #7B98AA;*/
	color: green;
	display: inline-block;
  text-transform: uppercase;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  font-weight: 600;
	font-size: 16px;
	margin-top: 15px;
}m



/* ----------------------------------------
Layout
------------------------------------------- */


/* ----------------------------------------
Header
------------------------------------------- */


/* ----------------------------------------
Buttons
------------------------------------------- */



/* ----------------------------------------
Footer
------------------------------------------- */
